.caixa{
    background: rgb(199, 68, 216);
    background: radial-gradient(circle, rgb(119, 76, 219) 0%, rgb(76, 51, 134) 4%, rgb(33, 40, 104) 100%);
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}